/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos del formulario de contacto */
  #contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  #contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #contact-form button {
    background-color: #1e07ec;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .error-message {
    color: rgb(0, 255, 42);
    margin-top: 5px;
  }
  
  /* Estilos del selector de colores */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .color-palette {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .color-palette .color {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .color-display {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  
  /* Estilos de la calculadora */
  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .calculator input, .calculator select {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .calculator button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .result {
    margin-top: 10px;
  }